@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #d5d5d5;
}

#column-2 {
  background: #F1CDFF;
}

#column-3 {
  background: #A5E7FF;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #C9C9C9;
  }

  #column-1 {
    background-color: #ACACAC;
  }

  #column-2 {
    background-color: #E9967A;
  }

  #column-3 {
    background-color: #00CED1;
  }

  footer {
    background-color: #C9C9C9;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #8B8B8B;
  }

  #column-1 {
    background-color: #989898;
  }

  #column-2 {
    background-color: #FF1493;
  }

  #column-3 {
    background-color: #87CEFA;
  }

  footer {
    background-color: #8B8B8B;
  }
   
}
